
.round{
    font-size: xx-large;
    color: white;
}

.timer{
    font-size: xx-large;
    color: white;
}

.simon{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 60vh;
}


.rouge{
    margin-bottom: 2%;
    margin-inline: 2%;
    width: 200px;
    aspect-ratio: 1;
    background-color: red;
    cursor: pointer;
}
.bleu{
    margin-bottom: 2%;
    width: 200px;
    aspect-ratio: 1;
    background-color: blue;
    cursor: pointer;
}
.vert{
    margin-inline: 2%;
    width: 200px;
    aspect-ratio: 1;
    background-color: green;
    cursor: pointer;
}
.jaune{
    width: 200px;
    aspect-ratio: 1;
    background-color: yellow;
    cursor: pointer;
}